.env
track/session_log.json
/img/product-categories/
/img/products/
/uploads
/img/stores/
/page-data
/js/google-analytics.js
/img/tmp/
/config/config.php
node_modules
**/tempobook/dynamic/
**/tempobook/storyboards/